footer {
  min-height: 400px;
  margin-top: 100px;
  display: grid;
  grid-template-rows: 50% 50%;
  position: relative;
  @media screen and (max-width: 500px) {
    margin-top: 25px;
  }
  .footer-img {
    height: 50px;
    width: 50px;
    border-radius: 150px;
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translateX(-50%);
    background: url(/img/avatar-02.jpg) center/cover;
    z-index: 10;
  }
  .footer-text {
    min-height: 150px;
    width: 90%;
    margin: 0 auto;
    background: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      width: 80%;
      font-size: 1em;
      margin: 0 auto;
      line-height: 30px;
    }
    span {
      margin-top: 20px;
      font-size: 1.2em;
    }
    a {
      color: $brown;
    }
  }
  .footer-1 {
    background: url(/img/gmap.jpg) center/cover;
    position: absolute;
    width: 100%;
    height: 280px;
    top: 30%;
    z-index: -5;
  }
  .contact {
    background: url(/img/bg-footer.jpg) center/cover;
    margin-top: 155px;
    height: 250px;
    display: grid;
    grid-template-columns: 50% 50%;
    @media screen and (max-width: 500px) {
      margin-top: 135px;
      background: $bg-color;
      grid-template-columns: 100%;
    }
    .left-contact {
      margin-left: 15%;
      text-align: left;
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media screen and (max-width: 500px) {
        display: none;
      }
      h3 {
        font-size: 2em;
      }
      p {
        color: $white;
        opacity: 0.5;
        font-size: 0.8em;
        line-height: 20px;
        transition: 0.3s ease;
        @media screen and (max-width: 500px) {
          font-size: 0.6em;
        }
        &:hover {
          opacity: 1;
        }
      }
    }
    .right-contact {
      text-align: left;
      margin-top: 70px;
      margin-left: 10%;
      @media screen and (max-width: 500px) {
        margin: 60px 0 0 15%;
      }
      label {
        color: $white;
        text-transform: uppercase;
        font-family: $font3;
        font-weight: 600;
        @media screen and (max-width: 500px) {
          font-size: 0.8em;
        }
      }
      input {
        margin: 30px 0;
        background: none;
        border: 1px solid rgba(196, 109, 51, 0.178);
        padding: 5px 5px;
        @media screen and (max-width: 500px) {
          margin: 20px 0;
          padding: 5px 5px;
          width: 130px;
        }
      }
      ul {
        display: flex;
        i {
          margin: 0 auto;
          color: $white;
          opacity: 0.3;
          cursor: pointer;
          transition: 0.3s ease;

          &:hover {
            opacity: 1;
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
