.resevation {
  min-height: 360px;
  width: 80%;
  margin: 60px auto;
  background: $black;
  display: grid;
  grid-template-columns: 30% 70%;
  @media screen and (max-width: 625px) {
    min-height: 800px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .reservation-left {
    height: 90%;
    width: 90%;
    margin: auto;
    border: 1px dashed $white;
    color: $white;
    .open {
      padding: 20px 0 0;
      height: 25%;

      h3 {
        height: 50%;
        font-size: 2em;
      }
      h2 {
        height: 50%;
        font-size: 0.8em;
        letter-spacing: 1px;
        @media screen and (max-width: 715px) {
          font-size: 0.6em;
        }
      }
    }
    .week {
      h2 {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 0.9em;
        color: $brown;
        @media screen and (max-width: 715px) {
          font-size: 0.6em;
        }
      }
      span {
        font-size: 0.7em;
      }
    }
    .week-end {
      h2 {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 0.9em;
        color: $brown;
        @media screen and (max-width: 715px) {
          font-size: 0.6em;
        }
      }
      span {
        font-size: 0.7em;
      }
    }
    .phone-number {
      margin-top: 10px;
      span {
        font-size: 0.7em;
        color: $brown;
        @media screen and (max-width: 715px) {
          font-size: 0.6em;
        }
      }
    }
  }
  .reservation-right {
    background-color: $white;
    display: grid;
    grid-template-rows: 50% 50%;
    @media screen and (max-width: 500px) {
      height: 450px;
    }
    .reservation-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: 500px) {
        margin-top: -45px;
      }
      h3 {
        font-size: 2em;
      }
      h2 {
        transform: translateY(-10px);
      }
    }
    .chef-fork {
      margin-top: 10px;
    }
    form {
      width: 80%;
      margin: 0 auto;
      position: relative;
      @media screen and (max-width: 500px) {
        margin: -55px auto;
      }
      .inputs {
        width: 110%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        @media screen and (max-width: 500px) {
          grid-template-columns: 100%;
          grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        }
        input {
          width: 80%;
          background: none;
          border: none;
          padding: 8px 10px;
          border-bottom: 1px solid rgba(128, 128, 128, 0.555);
          font-size: 0.9em;
        }
      }
      button {
        width: 40%;
        height: 40px;
        border-radius: 25px;
        position: absolute;
        bottom: 25%;
        left: 50%;
        transform: translateX(-50%);
        background: $black;
        color: $white;
        border: 1px solid $black;
        letter-spacing: 3px;
        text-transform: uppercase;
        font-size: 0.7em;
        font-weight: 600;
        transition: 0.3s ease;
        cursor: pointer;
        &:hover {
          background: $brown;
          color: $black;
          border: 1px solid $black;
          opacity: 0.9;
        }
        @media screen and (max-width: 500px) {
          bottom: 20%;
          min-width: 100px;
          font-size: 0.6em;
        }
      }
    }
  }
}
